*{
	margin: 0;
	padding: 0;
}

.grid{
	display: grid;

	/*grid-template-columns:200px 1fr;*/
}

/*.grid div:nth-child(even){
	background-color: red;
}

.grid div:nth-child(odd){
	background-color: green;*/

 /*============Title (logo ,navbar)============*/

.title{
	width: 100%;
	height: auto;
	margin: 0 auto;
	background-color: #8ACEBB;
	box-shadow: 5px 10px 50px 2px #8ACEBB;
	position: fixed;
}

.logo{
	padding-top: 20px;
	margin-left:100px ;
	/*width: 150px;*/

}

#search{
	/*width: 200px;
	float: left;
	padding: 20px;
	margin-left: 100px;
	display: inline-block;
	padding: 20px;*/
	margin-top: -60px;
	padding-bottom: 20px;
}

.search-area{
	width: 600px;
	height: 50px;
	background: #fff;
	border: none;
	border-radius: 10px;
	/*float: left;*/
	padding-left: 15px;
	margin-left: 200px;
	margin-bottom:-100px;
}

.search-btn{
	width: 100px;
	height: 50px;
	margin-left: -100px;
	border-radius: 10px;
	border: none;
	color:#fff;
	background:#989898;
}

.search-btn:hover{
	background-color:#3fa58d;
	transition: all .5s ease;	
}

#user-menu{
	float: right;
	margin-top: -50px;


}

#user-menu li {
	float: left;
	text-align: right;
	list-style: none;
	margin-right: 100px;
	font-size: 25px;

}


#user-menu li a{
	color:#989898;
	text-decoration: none;
	font-weight: bold;	
}

#user-menu li a:hover{
	color:#3fa58d;
	transition: all .5s ease;
}

/*============End Title (logo ,navbar)============*/


.header img{
	margin-top: 120px;
	margin-left: 100px;
	margin-right: 100px;
	width: 84%;
	display: inline-block;
}

.slideshow{
	/*width: 1000px;*/

}



















